.footer {
    background-color: rgb(32, 32, 32);
    color: rgb(243, 243, 243);
    padding: 7px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    padding: 5px;
}

.created-by,
.credits {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
}

.created-by {
    color: rgb(243, 243, 243);
    font-size: 15px;
}

.credits,
.credits>a {
    font-size: 12px;
    color: rgb(135, 135, 135);
}

p {
    margin: 0;
    padding: 0;
}

.credits>a:visited,
.credits>a:hover,
.credits>a:active {
    color: rgb(165, 165, 165);
    text-decoration: underline;
}

.created-by>a {
    display: flex;
    align-items: center;
}

.icon {
    height: 20;
    width: auto;
    align-self: center;
}