.main-container {
    background-color: #739191;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gameboard-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    width: 80%;
    padding-bottom: 20px;
}


@media (max-width: 500px) {
    .main-container {
        align-items: stretch;
        padding: 5%;
    }

    .gameboard-container {
        width: 90%;
        justify-content: space-around;
    }
}