.score {
    color: rgb(32, 32, 32);
    background-color: rgb(243, 243, 243);
    font-weight: 500;
    font-size: 20px;
    border-radius: 10px;
    padding: 2px 25px;
}

@media (max-width: 500px) {
    .score {
        font-size: 13px;
    }
}